<div class="card">
    <div class="card-header">
        Recharge
        <app-close-routes [route]="routePath"></app-close-routes>
    </div>
    <div class="card-body">
        <form [formGroup]="rechargeForm" (ngSubmit)="submit(rechargeForm.value)">
        <div class="row">
            
            <div class="col-md-12 mb-3">
                <label class="form-label">Manufacture</label>
                <ng-select placeholder="Select Manufacture" formControlName="manufacture">
                    <ng-option *ngFor="let item of manufacture" [value]="item">{{ item }}</ng-option>
                </ng-select>

            </div>
            <div class="col-md-12 mb-3">
                <label class="form-label">Device</label>
                <ng-select placeholder="Select Device" formControlName="device">
                    <ng-option *ngFor="let item of dealerData" [value]="item">{{ item }}</ng-option>
                </ng-select>
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">Plan</label>
                <ng-select placeholder="Select Plan" formControlName="plan">
                    <ng-option *ngFor="let item of serviceCharge" [value]="item">{{ item}}</ng-option>
                </ng-select>
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">Plan Duration</label>
                <ng-select placeholder="Select Duration" formControlName="duration">
                    <ng-option *ngFor="let item of planDuration" [value]="item?.Id">{{ item?.PeriodName
                        }}</ng-option>
                </ng-select>
            </div>

            <div class="col-md-12">
                <label class="form-label">Quantity</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter Quantity" formControlName="qty"
                        aria-describedby="button-addon2" />
                </div>
            </div>

            <div class="col-md-12" >
                <label class="form-label">Amount</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [readonly]="amountDisabled" placeholder="Enter Amount" formControlName="amount"
                        aria-describedby="button-addon2" />
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" type="submit">
                    Recharge
                </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger" (click)="cancel($event)">
                    Cancel
                </button>
            </div>
        </div>
    </form>
    </div>
</div>