.search-form {
    float: right;
  }
  
  .search-input {
    border-color:#2f387c !important;
  }
  
  .search-form .btn-search {
    color: #fff;
  }

  .sim-search {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
    // padding: 0 10px;
    gap: 15px;
}