
<div class="modal-header text-center" style="color: #fff;">
  {{tittle}}
  <div class="close-modal">
    <i class="fa fa-close" style="color: white;cursor: pointer;" (click)="cancel()"></i>
</div>
</div>
  <div class="modal-body p-20">
    <div class="_card white-bg">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h4> Vehicle No :- {{vehicleNo}}</h4>
          <p> Point Activation Required</p>
        </div>
      </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" (click)="submit()">
                   Activate Now
                  </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger" (click)="cancel()">
                   Cancel
                  </button>
            </div>
            
        </div>
    </div>
  </div>
  