<section class="admin-content">
    <app-loader *ngIf="spinnerLoading"></app-loader>
    <div class="row">
        <div class="col-md-12">
    
            <div class="card">
                <div class="card-header">
                   Device Summary
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fiter-data mb-3">
                                    <device-summary-filter (filterValue)="confirm($event)" [activateData]="selectedRows"></device-summary-filter>
                                </div>
                                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                  <div class="dataTables_scroll">
                                      <div class="dataTables_scrollBody">
                                          <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline"
                                              role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                                              <thead>
                                                  <tr role="row">
                                                      <th *ngFor="let vehicleHeading of columns">
                                                          <strong>{{vehicleHeading?.title}}</strong>
                                                      </th>
                                                  </tr>
                                              </thead>
          
                                              <tbody>
                                                  <tr *ngFor="let row of resellerValue |  paginate : {
                                                        itemsPerPage: tableSize,
                                                        currentPage: page,
                                                        totalItems: count} let i= index">
                                                        <!-- <td>
                                                          <img class="vehicle-image" [src]="onCheckVehicleDevice(row)" />
                                                      </td> -->
                                                      <td>
                                                          <a>{{ row?.Customer?.CustomerName }}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Customer?.ContactNumber }}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Device?.InstallationDate | date : "dd-MM-yyyy HH:mm:ss"}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.PointValidity?.NextRechargeDue | date : "dd-MM-yyyy"}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.PointValidity?.CustomerRechargeDue | date : "dd-MM-yyyy"
                                                              }}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Device?.VehicleNo}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Device?.DeviceTypeMeta?.Name}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Device?.DeviceId}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Device?.DeviceImei}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Device?.SimPhoneNumber}}</a>
                                                      </td>
                                                      <td>
                                                          <a>{{ row?.Eventdata?.Timestamp | date : 'dd-MM-yyyy'}}</a>
                                                      </td>
          
                                                  </tr>
                                              </tbody>
                                          </table>
                                          <div class="text-center"
                                              *ngIf="resellerValue && resellerValue.length == 0 || resellerValue == null "
                                              style="width: 100%;">No Data Available</div>
                                      </div>
                                      <div class="pagination-data" *ngIf="resellerValue && resellerValue?.length > 0">
                                          <pagination-controls previousLabel="Prev" nextLabel="Next"
                                              (pageChange)="onTableDataChange($event)">
                                          </pagination-controls>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>