<div class="modal-header text-center" style="color: #fff;">
    {{title}}
    <div class="close-modal">
      <i class="fa fa-close" style="color: white;cursor: pointer;" (click)="cancel()"></i>
    </div>
  </div>
  <div class="modal-body p-20">
    <div class="_card white-bg">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h2 class="text-center" [innerHTML]="content"></h2>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success" (click)="ok()">
            {{ primaryActionLabel }}
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger" (click)="cancel()">
            {{ secondaryActionLabel }}
          </button>
        </div>    
      </div>
    </div>
  </div>