<!-- <app-loader *ngIf="spinnerLoading"></app-loader> -->
<div class="geofance-part">
    <div class="list-part">
        <goefance-list #geofanceDetails (onConfirm)="confirm($event)"></goefance-list>
    </div>
    <div class="map-part">
        <div class="card">
            <div class="card-header">
                Geofance In Map
            </div>
            <div class="card-body">
                <div class="map-container">
                    <div id="geomap"></div>
                </div>
            </div>
        </div>
    </div>
</div>