$color-red: #383B3E;
$color-dark-gray: #383838;
$color-light-black: #4c4d4b;
$color-blue: #055989;
$color-medium-black: #202020;
$color-white: #fff;
$color-light-gray: #f8f8f8;
$color-medium-gray: #e8e8e8;
$color-gray: #b1b1b1;
$color-gray-b7 : #b7b7b7;
$color-gray-b1 : #b1b1b1;
$color-black: #000;
$color-light-sea-green :#dbf4f2;
$color-teal: #008380;
$formBackgroundColor: #fff;
$pinkOutline: #a31a6a;
$loginButtonColor: rgb(96, 196, 96);
$loginButtonTextColor: white;
$newAccountButtonColor: #ffd60a;
$newAccountButtonTextColor: rgb(36, 34, 34);
$inputBackgroundColor: #fff;
$inputPlaceholderColor: black;
$loginWithAccountsTextColor: white;
$inputTextColor: white;
$forgetHoverColor: #4c4d4b;

:root {
    --color-red: #54ada5;
    --color-dark-gray: #383838;
    --color-light-black: #4c4d4b;
    --color-blue: #055989;
    --color-medium-black: #202020;
    --color-white: #fff;
    --color-light-gray: #f8f8f8;
    --color-medium-gray: #e8e8e8;
    --color-gray: #b1b1b1;
    --color-gray-b7: #b7b7b7;
    --color-dark-back: #000;
}