<app-loader *ngIf="spinnerLoading"></app-loader>
<div class="modal-header text-center" style="color: #fff;">
    Forgot Password
    <div class="close-modal">
      <i class="fa fa-close" style="color: white;cursor: pointer;" (click)="cancel()"></i>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="passwordForm">
      <div class="row">
        <div class="col-md-12 mb-2">
          <label class="form-label" for="typeEmailX-2">Select Customer/Dealer</label>
          <ng-select placeholder="Enter Customer/Dealer" formControlName="filterBy" (change)="onSelected($event)">
            <ng-option *ngFor="let item of bulk" [value]="item?.value">{{item?.title}}</ng-option>
          </ng-select>
          <div *ngIf="passwordForm.get('filterBy')?.invalid && (passwordForm.get('filterBy')?.dirty || passwordForm.get('filterBy')?.touched)" class="text-danger">
            Customer/Dealer is required
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-10">
          <label class="form-label" for="typeEmailX-2">User Name</label>
          <input type="text" id="typeEmailX-2" formControlName="username" (change)="changeStatus()" placeholder="Enter User Name" class="form-control" />
          <div *ngIf="passwordForm.get('username')?.invalid && (passwordForm.get('username')?.dirty || passwordForm.get('username')?.touched)" class="text-danger">
            User Name is required
          </div>
        </div>
        <div class="col-md-2 mt-2">
          <br>
          <button class="btn btn-success" (click)="getPasswordDetails(passwordForm.value.username)" [disabled]="!passwordForm.value.filterBy || !passwordForm.value.username">
            Send
          </button>
        </div>
      </div>
      <div class="row password-Detail">
        <div class="col-md-12">
          <div class="detail-part" *ngIf="showSuccessDetail">
            <div class="col-md-12 mb-2" *ngIf="!showEmailId">
              <input type="radio" formControlName="contactMethod" value="email" id="emailRadio" (change)="selectedOption('Email')">
              <label for="emailRadio"> Registered Email Id : <b>{{userDetail.Emailid ? userDetail.Emailid : 'No Email'}}</b></label>
            </div>
            <div class="col-md-12 mb-2" *ngIf="showEmailId">
              <input type="radio" formControlName="contactMethod" value="email" id="emailRadio" >
              <label for="emailRadio"> Registered Email Id : <b>{{userDetail.EmailId ? userDetail.EmailId : 'No Email'}}</b></label>
            </div>
            <div class="col-md-12 mb-2">
              <input type="radio" formControlName="contactMethod" value="mobile" id="mobileRadio" (change)="selectedOption('Mobile')">
              <label for="mobileRadio"> Registered Mobile No : <b>{{userDetail.MobileNo ? userDetail.MobileNo : 'No Mobile'}}</b></label>
            </div>
          </div>
          <div class="error-part" *ngIf="errorDetail">
            <span class="text-center text-danger">{{errorMessage}}</span>
          </div>
          <div class="timer-part mb-2" *ngIf="showTimer">
            <span *ngIf="!showMessageLimit">{{timer}} seconds</span>&nbsp;
            <span *ngIf="showMessageLimit" class="text-danger">{{showMessage}}</span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="showSuccessDetail">
        <div class="col-md-6">
          <button class="btn btn-success" type="submit" (click)="sendRequest(passwordForm.value)" [disabled]="disableSendButton || !passwordForm.value.contactMethod">
            {{buttonText}}
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-danger" (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
  