<div id="product-dropDown">
    <div class="mx-search-box" >
        <input [disabled]="disabled" [placeholder]="placeholder" [value]="searchDefaultValue" type="text" #searchBoxInput
             (keypress)="onKeypress($event)" 
            (keydown)="onKeydown($event)" (keyup)="onKeyup($event)" (blur)="onBlurEvent($event)" class="form-control"
            (keyup.enter)="onEnter()" (keydown.backspace)="onKeypress($event)" (change)="onchange($event)">
        <button [disabled]="disabled"  class="mx-search-btn">
            <img src="/assets/images/icons/search-primary.svg" alt="Search Button" (click)="onSearch()">
        </button>
        <button [disabled]="disabled"  class="mx-clear-input-brn" *ngIf="searchDefaultValue" (click)="onClearInput()">
            <img src="/assets/images/icons/close-primary.svg" alt="Search Input Clear">
        </button>
    
    </div>
    <div class="mx-search-suggestions" >
        <p *ngIf="searchKey.length<3 && searchKey.length!=0" class="text-center suggestion-p">enter 3 or
            more chars</p>
        <span *ngFor="let product of filteredProducts">
            <ul (click)="onSuggestionClick(product.firstVariantCode)">
                <a> {{product.styleName}}</a>
            </ul>
        </span>
    </div>
</div>