<app-loader *ngIf="spinnerLoading"></app-loader>
<div class="row">
    <div class="col-md-8">

        <div class="card">
            <div class="card-header">
                Device List
            </div>
            <div class="card-body">
                <div class="fiter-data mb-3">
                    <device-fitler (filterValue)="confirm($event)" (addDevice)="addDevice($event)"></device-fitler>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dataTables_scroll">
                                    <div class="dataTables_scrollBody">
                                        <table id="datatable"
                                            class="table table-striped nowrap dataTable no-footer dtr-inline"
                                            role="grid" aria-describedby="datatable_info" style="width: 100%"
                                            width="100%">
                                            <thead>
                                                <tr role="row">
                                                    <th *ngFor="let vehicleHeading of columns">
                                                        <strong>{{vehicleHeading?.title}}</strong>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let row of deviceData |  paginate : {
                                                          itemsPerPage: tableSize,
                                                          currentPage: page,
                                                          totalItems: count} let i= index"
                                                          [ngClass]="{'active': selectColor?.Id === row?.Id}">
                                                    <td>
                                                        <a>{{ row?.VehicleNo }}</a>
                                                    </td>
                                                    <td  >
                                                        <a (mouseenter)="showCopyIcon = i" style="cursor: pointer;" [ngStyle]="{'color': (showCopyIcon === i) ? 'red' : 'blue','display': (showCopyIcon === i) ? 'inline-flex' : '', 'gap': (showCopyIcon === i) ? '8px' : ''}" (mouseleave)="showCopyIcon = null">
                                                            {{ row?.DeviceId }}
                                                            <i *ngIf="showCopyIcon === i" (click)="copyContent(row?.DeviceId,i)" class="fa-regular fa-copy cursor-pointer" [title]="copy == true && showCopyIcon === index ? 'Copied' : 'Copy'"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.SimPhoneNumber}}</a>
                        
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.DeviceType?.Name }}</a>
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.CreationTime | date : "dd/MM/yyyy" }}</a>
                                                      </td>
                                                    <td>
                                                        <a>{{ row?.InstallationOn | date : "dd/MM/yyyy" }}</a>
                                                    </td>
                                                    <td>
                                                        <a>{{  row?.PointValidity?.CurrentPointType === 0 ? 'dd/mm/yyyy' : row?.PointValidity?.NextRechargeDue | date :
                                                            "dd/MM/yyyy"}}</a>
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.PointValidity?.CurrentPointType === 0 ? 'dd/mm/yyyy' : row?.PointValidity?.CustomerRechargeDue | date :
                                                            "dd/MM/yyyy"}}</a>
                                                    </td>
                                                    <td>
                                                        <button mat-icon-button (click)="onContextMenu($event, row, i)">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center"
                                            *ngIf="deviceData && deviceData.length == 0 || deviceData == null "
                                            style="width: 100%;">No Data Available</div>
                                    </div>
                                    <div class="pagination-data" *ngIf="deviceData && deviceData?.length > 0">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                </div>
                                <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                                    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                                </div>
                                <mat-menu #contextMenu="matMenu">
                                    <ng-template matMenuContent let-item="item">
                                        <button mat-menu-item [matMenuTriggerFor]="fitmentSub">Fitment</button>
                                        <button mat-menu-item *ngFor="let menuItem of urlPath" (click)="redirectTo(menuItem.name === 'Recharge Point' && selectedDeviceValue?.PointValidity?.CurrentPointType === 0 ? 'activate-point' : menuItem.path)">
                                            {{ menuItem.name === 'Recharge Point' && selectedDeviceValue?.PointValidity?.CurrentPointType === 0 ? 'Activate Point' : menuItem.name }}
                                        </button>
                                        <mat-menu #fitmentSub="matMenu">
                                            <button mat-menu-item *ngFor="let menuItem of fitmentUrlPath" (click)="redirectTo(menuItem.path)">{{ menuItem.name}}</button>
                                            <!-- <button mat-menu-item>Delete</button>
                                            <button mat-menu-item>Show</button> -->
                                        </mat-menu>
                                    </ng-template>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>