<app-loader *ngIf="spinnerLoading"></app-loader>
<div class="row">
    <div class="col-md-8">

        <div class="card">
            <div class="card-header">
                Device Maker List
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="row">
                        <div class="maker-search ">
                            <div class="search-form mb-2">
                                <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                                    class="form-control search-input"><button type="button" class="btn-search"><i
                                        class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" (click)="redirectTo('add-device-maker')"><i
                                        style="margin-right: 8px;" class="fa fa-plus" aria-hidden="true"></i>Add
                                    Device Maker</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dataTables_scroll">
                                    <div class="dataTables_scrollBody">
                                        <table id="datatable"
                                            class="table table-striped nowrap dataTable no-footer dtr-inline"
                                            role="grid" aria-describedby="datatable_info" style="width: 100%"
                                            width="100%">
                                            <thead>
                                                <tr role="row">
                                                    <th *ngFor="let vehicleHeading of columns">
                                                        <strong>{{vehicleHeading?.title}}</strong>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let row of deviceMakerData | searchFilter: searchKeyword |  paginate : {
                                                          itemsPerPage: tableSize,
                                                          currentPage: page,
                                                          totalItems: count} let i= index"
                                                          [ngClass]="{'active': selectColor?.id === row?.id}"
                                                          >
                                                    <td>
                                                        <a>{{ row?.name }}</a>
                                                    </td>
                                                   
                                                    <td>
                                                        <a>{{ row?.server_ip}}</a>
                        
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.server_port }}</a>
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.gps_walk == 1 ? 'True' : 'False' }}</a>
                                                    </td>
                                                    <td>
                                                        <a>{{ row?.ble_support == 1 ? 'True' : 'False'}}</a>
                                                    </td>
                                                    
                                                    <td>
                                                        <button mat-icon-button (click)="onContextMenu($event, row, i)">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center"
                                            *ngIf="deviceMakerData && deviceMakerData.length == 0 || deviceMakerData == null "
                                            style="width: 100%;">No Data Available</div>
                                        <div class="pagination-data" *ngIf="deviceMakerData && deviceMakerData?.length > 0">
                                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                    </div>
                                    <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                                    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                                  </div>
                                  <mat-menu #contextMenu="matMenu">
                                    <ng-template matMenuContent let-item="item">
                                      <button mat-menu-item *ngFor="let menuItem of urlPath" (click)="redirectTo(menuItem?.path)">
                                        {{ menuItem.name }}
                                      </button>
                    
                                    </ng-template>
                                  </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>