.card-header{
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    .fa-check{
        color: rgb(48, 232, 48);;
        float: left;
        margin-left: 20px;
        font-size: large;
    }
}