<div class="row">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Dealer/Reseller</label>
            <ng-select placeholder="Select Dealer" [ngModel]="selectedDealer" (change)="onDealerSelect($event)" (click)="$event.stopPropagation()">
                <ng-option *ngFor="let item of dealerData" [value]="item?.Id">{{ item?.Name }}</ng-option>
              </ng-select>
              <div *ngIf="!selectedDealer" class="text-danger">Please select a Dealer/Reseller.</div>  
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Customer</label>
            <ng-select placeholder="Select Customer" [ngModel]="selectedCustomer" (change)="onCustomerSelect($event)" (click)="$event.stopPropagation()">
                <ng-option *ngFor="let item of customerData" [value]="item?.Id">{{ item?.CustomerName }}</ng-option>
              </ng-select>
              <div *ngIf="!selectedCustomer" class="text-danger">Please select a Customer.</div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success" type="submit" (click)="submit()">
                Move
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger" (click)="cancel($event)">
                Cancel
            </button>
        </div>
    </div>
</div>