
<div class="modal-header text-center" style="color: #fff;">
    {{loginUser}}
    <div class="close-modal">
      <i class="fa fa-close" style="color: white;cursor: pointer;" (click)="cancel()"></i>
  </div>
</div>
<div class="modal-body">
    <form [formGroup]="changeForm" (ngSubmit)="submit(changeForm.value)">
        <div class="_card white-bg">
            <div class="row">
                <div class="col-md-12  mb-3">
                    <label class="form-label">Old Password*</label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Enter Old Password"
                            formControlName="oldPwd" aria-describedby="button-addon2" />
                    </div>
                    <div class="text-danger"
                        *ngIf="changeForm.get('oldPwd').invalid && changeForm.get('oldPwd').touched">
                        Old Password is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12  mb-3">
                    <label class="form-label">New Password*</label>
                    <div class="input-group">
                        <input type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control" placeholder="Enter New Password"
                            formControlName="newPwd" aria-describedby="button-addon2" />
                            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('NEW')">
                                <i class="fa" [ngClass]="{'fa-eye': !showNewPassword, 'fa-eye-slash': showNewPassword}"></i>
                            </button>
                    </div>
                    <div class="text-danger"
                        *ngIf="changeForm.get('newPwd').invalid && changeForm.get('newPwd').touched">
                        New Password is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="form-label">Retype New Password*</label>
                    <div class="input-group">
                    <input type="{{ showReTypePassword ? 'text' : 'password' }}" class="form-control" placeholder="Enter Retype New Password" formControlName="reNewPwd"
                        aria-describedby="button-addon2" />
                        <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('RETYPE')">
                            <i class="fa" [ngClass]="{'fa-eye': !showReTypePassword, 'fa-eye-slash': showReTypePassword}"></i>
                        </button>
                    </div>
                    <div *ngIf="changeForm.get('reNewPwd').invalid && changeForm.get('reNewPwd').touched">
                        <div class="text-danger" *ngIf="changeForm.get('reNewPwd').errors?.required">
                            Retype New Password is required
                        </div>
                        <div class="text-danger"
                            *ngIf="changeForm.get('newPwd').value !== changeForm.get('reNewPwd').value">
                            Passwords do not match
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit" >
                        Submit
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-danger" (click)="cancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>