<div class="container" >
    <sky-breadcrumb [breadcrumbItems]="breadcrumbItems"></sky-breadcrumb>
    <!-- <app-alerts [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger"></app-alerts> -->
    <h2 class="text-center mb-4">Company Edit</h2>
    <div class="row mb-3">
      <div class="col-lg-12 back-to">
        <span class="mohawak-icon angle-left-icon back-i"></span>Back To Your
        Company
      </div>
    </div>
   
      <div class="row mb-4">
        <div class="_card-container">
            <div class="edit-btn">
              <button
                class="btn btn-primary">
                EDIT Company
              </button>
            </div>
            <tabset [justified]="true" #staticTabs>
              <tab>
                <ng-template tabHeading>Active User</ng-template>
               
              </tab>
              <tab>
                <ng-template tabHeading>Inactive User</ng-template>
               
              </tab>
            </tabset>
          </div>
      
      </div>
  
  </div>