<!-- <app-loader *ngIf="spinnerLoading"></app-loader> -->
<div class="container">
    <sky-breadcrumb [breadcrumbItems]="breadcrumbItems"></sky-breadcrumb>
    <!-- <app-alerts [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger"></app-alerts> -->
    <h2 class="text-center mb-4 mt-4">Change Password</h2>
    <div class="row mb-3">
        <div class="col-lg-12 back-to">
            <span class="skylabs-icon angle-left-icon back-i"></span>Back To Your
            Home
        </div>
    </div>

    <div class="row mb-4">
        <form [formGroup]="addUserForm" >
            <div class="_card-container">
                <div class="row mb-4 brd">
                    <div class ="col-md-4"></div>
                    <div class="head-sec">Change Password</div>
                    <div class="col-md-4 mb-3">
                      <h4>Inquiry Type*</h4>
                      <input type="text" formControlName="comp_name" placeholder="Type Here" class="form-control" />
                      <div *ngIf="addUserForm.controls['comp_name'].touched && addUserForm.controls['comp_name'].invalid"
                        class="form-text text-danger">
                        <div *ngIf="addUserForm.controls['comp_name'].errors?.['required']">
                            Inquiry Type  is
                          required.</div>
                      </div>
                    </div>
                    <div class="col-md-8 mb-6 mb-4">
                        <ngx-table [configuration]="configuration" [data]="typelist" [columns]="columns">
                          <!-- [summaryTemplate]="summaryTemplateRef" -->
                          <ng-template let-row let-index="index">
                            <td>
                              <a>{{ row?.type_name }}</a>
                            </td>

                            <td>
                          Remove
                              <!-- {{ row?.expirationTime | date : "MM/dd/yyyy" }} -->
                            </td>
                           
                          </ng-template>
                        </ngx-table>
                       
                      </div>
                  </div>
                <div class="row align-center">
                    <div class="col-md-3 btn-grid">
                        <button class="btn btn-outline-secondary">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-3  btn-grid">
                        <button    (click)="submit(addUserForm.value)" class="btn btn-primary" type="submit" [disabled]="!addUserForm.valid">
                            ADD Inquiry Type
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>