<div class="card">
  <div class="card-header">
    Modify Password
  </div>
  <div class="card-body">

    <form [formGroup]="changeForm" (ngSubmit)="submit(changeForm.value)">
      <div class="row">
        <div class="col-md-12 mb-3">
          <div>
            <label class="form-label">Old Password*</label>
            <input type="password" placeholder="Old Password*" formControlName="oldPwd" class="form-control"
              id="oldPwd">
            <div class="text-danger" *ngIf="changeForm.get('oldPwd').invalid && changeForm.get('oldPwd').touched">
              Old Password is required
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-3">
          <label class="form-label">New Password*</label>
          <div class="input-group mb-3">
            <input type="{{ showNewPassword ? 'text' : 'password' }}" placeholder="New Password*" formControlName="newPwd" class="form-control"
              id="newPwd">
            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('NEW')">
              <i class="fa" [ngClass]="{'fa-eye': !showNewPassword, 'fa-eye-slash': showNewPassword}"></i>
            </button>
          </div>
          <div class="text-danger" *ngIf="changeForm.get('newPwd').invalid && changeForm.get('newPwd').touched">
            New Password is required
          </div>
        </div>

        <div class="col-md-12 mb-3">
            <label class="form-label">Retype New Password*</label>
            <div class="input-group mb-3">
            <input type="{{ showReTypePassword ? 'text' : 'password' }}" placeholder="Retype New Password*" formControlName="reNewPwd" class="form-control"
              id="reNewPwd">
              <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('RETYPE')">
                <i class="fa" [ngClass]="{'fa-eye': !showReTypePassword, 'fa-eye-slash': showReTypePassword}"></i>
              </button>
            </div>
            <div *ngIf="changeForm.get('reNewPwd').invalid && changeForm.get('reNewPwd').touched">
              <div class="text-danger" *ngIf="changeForm.get('reNewPwd').errors?.required">
                Retype New Password is required
              </div>
              <div class="text-danger" *ngIf="changeForm.get('newPwd').value !== changeForm.get('reNewPwd').value">
                Passwords do not match
              </div>
            </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary" [disabled]="!changeForm.valid">Submit</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>