<section class="product-features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="product-features-list">
          <div class="features-list">
            <div class="heading">
              <h5 class="status-name">Total Accident Status</h5>
            </div>
            <div class="fleet-data">
              <div class="icon">
                <!-- <img [src]="'/assets/images/icons/' + item.icon + item.iconExt "> -->
                <img [src]="'/assets/images/complain-bus.png'" />
              </div>
              <h6 class="name class-red">5</h6>
            </div>
            <div class="status-data">
              <ul>
                <li>
                  <a class="status" style="cursor: pointer">
                    <span class="status-key" style="text-transform: capitalize">on trip</span>

                    <span class="status-value">0</span></a><a class="status" style="cursor: pointer">
                    <span class="status-key" style="text-transform: capitalize">in depot</span>
                    <span class="status-value">0</span></a><a class="status" style="cursor: pointer">
                    <span class="status-key" style="text-transform: capitalize">off road</span>
                    <span class="status-value">0</span></a><a class="status" style="cursor: pointer"><span
                      class="status-key" style="text-transform: capitalize">accident</span><span
                      class="status-value">0</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product-features-section">

  <div class="container">
    <ul class="product-features-list">
      
      <li>
        <div class="heading mt-3">
          <h5 class="status-name">Total Accident Status</h5>
          
        </div>
        <div class="d-flex justify-content-between">
          <div class="p-2">
            
            <div class="status">
          <span class="status-key key" style="text-transform: capitalize">on trip</span> 
            </div>
            <div class="status">
              <span class="status-key key" style="text-transform: capitalize">off road</span>

            </div>
            <div class="status">
              <span class="status-key key" style="text-transform: capitalize">in depot</span>
            </div>

            <div class="status">
              <span class="status-key key" style="text-transform: capitalize">in depot</span>
            </div>

          </div>
          <div class="p-2">
            <img [src]="'/assets/images/icons/open-claim.svg'">
          </div>
          <div class="p-2">
            <div class="status">
              <span class="status-value value">1</span>
            </div>
            <div class="status">
              <span class="status-value value">2</span>
            </div>
            <div class="status">
              <span class="status-value value">3</span>
            </div>
            <div class="status">
              <span class="status-value value">4</span>
            </div>
          </div>
        </div>
      </li>

    </ul>

  </div>
</section>