@import "/src/styles/colors";
@import "src/styles/mixins/breakpoints";

:host {
  width: 100%;
  height: 100%;
  // overflow-y: scroll !important;;
}
.toggle-menu-container {
  display: flex;
  align-items: center;

  .toggle-icon {
    cursor: pointer;
    cursor: pointer;
    /* left: 150px; */
    right: -29px;
    position: absolute;
    z-index: 9999;
    top: -26px;
    img{
      height: 30px;
      cursor: pointer;
      transform: rotate(180deg);

    }

  }
  .toggle-icon-close {
    cursor: pointer;
    cursor: pointer;
    /* left: 150px; */
    right: 12px;
    position: absolute;
    z-index: 9999;
    top: 0px !important;
  }
  .admin-only{
    ::ng-deep{
      .main-side-nav.ng-sidebar--closed .site-main-nav .toggle-menu-container .toggle-icon {
        cursor: pointer;
        transform: rotate(180deg);
        margin-right: 10px !important;
    
    }
    }
  }
}
.site-main-nav {
  user-select: none !important;
  width: 100%;
  background: #001529;
  height: 100%;
  display: inline-table;
  top: 53px;
  .navbar-nav {
    width: 100%;
    height: calc(100vh - 238px);
    // overflow-y: hidden;
    //width: 100%;
  //   height: 500px;
  // overflow-y: auto;
  // overflow-x: hidden;
    .nav-item {
      color: $color-white;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 0;
      position: relative;
      border-bottom: 1px dashed #10558d;

      .icon-nav-link {
        width: calc(100% - 20px);
        display: flex;
        align-items: center;

        .menu-icon {
          margin-right: 25px;
          font-size: 21px;
          width: 30px;
          cursor: pointer;
        }
      }

      .nav-link-container {
        padding-left: 20px;
        padding-right: 15px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .nav-arrow {
          transform: rotate(90deg);
          cursor: pointer;

          &.rotate90 {
            transform: rotate(-90deg);
          }
        }
      }

      .nav-link {
        color: $color-white;
        outline: none !important;
        font-size: 14px;
        width: 100%;
        white-space: pre-wrap;
        cursor: pointer;
      }
    }
  }
//   .navbar-nav:hover {
//     overflow-y: auto; /* Show overflow on hover */
// }
}

.level2-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  .nav-item {
    width: 100%;
    margin: 0 0 1px 0 !important;
    background: #10558d;
    padding: 0 !important;

  }
}

.level3-nav {
  width: 100%;
  background: $color-medium-black;

  &>.nav-item {
    background: $color-medium-black;
    padding: 0 20px !important;

    .nav-link {
      padding: 5px 0;
      border-bottom: 1px solid $color-dark-gray;
      width: 100%;
      display: block;

      &:last-child {
        border-bottom: unset;
      }
    }
  }
}



.logout {
  padding: 0 20px 15px 20px !important;
  background-size: auto;
  background-position: center 0;
  position: relative;
  padding-top: 0;
    text-align: center;
    //height: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
//  background-image: url(../../../../../../assets/icons/background.png);

@include breakpoint-range($max : sm){
 margin-top: 31px;;
 .menu-icons {
    margin-right: 25px;
    font-size: 21px;
    width: 30px;
    cursor: pointer;
  }
}
  .detail {
    text-align: center;
    .action{
        display: flex;
        justify-content: space-around;
        .user-action{
            background-color: #727272;
            border-radius: 58px;
            width: 27px;
            height: 27px;
            opacity: 0.9;
            cursor: pointer;
    .fa{
        color: white;
        padding :8px;
    }
    &:hover{
      background: #ff9934;
    }
        }
    }

  }

  .username {
    font-size: 14px;
    color: white;
    font-weight: 700;
  }

  .signout {
    background-color: black;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border-radius: 29px;
    padding: 3px 16px 3px 12px;
  }

  .logoutlogo {
    img {
        width: 90px;
        height: 90px;
        background-size: 92px 92px;
        border-radius: 50%;
       // margin: 40px auto auto;
        border: 1px solid hsla(0, 0%, 100%, .3);
        cursor: pointer;
    }
  }
}

.account-infoo {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
@include breakpoint-range($max:lg){
  display: none;
}

  h6,
  p {
    color: $color-white;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .change-account-btn {
    padding: 0 27px 15px 20px !important;

    img {
      width: 32px;
      height: auto;
      object-fit: cover;
      border-radius: 24px;
    }

    background: transparent;
    border: none;
    color: $color-white;
    font-weight: 700;
    margin-top: 5px;
    margin-left: -3px;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;

    span {
      font-size: 12px;
    }
  }

  // @include breakpoint-range($max: lg) {
  //   display: block !important;
  // }
}

.icon-nav-link {
  position: relative;
  display: inline-block;
}

.icon-nav-link .tooltiptext {
  visibility: hidden;
  width: 120px;
  border: black;
  background-color:black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.icon-nav-link .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.icon-nav-link:hover .tooltiptext {
  visibility: visible;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidescroll::-webkit-scrollbar {
  width: 0px;

}